*

!.config

!.config/awesome
!.config/awesome/**
.config/awesome/private.lua

!.emulationstation
!.emulationstation/es_input.cfg
!.emulationstation/es_settings.cfg
!.emulationstation/es_systems.cfg
#!.config/emulationstation/themes
#!.config/emulationstation/themes/es-theme-carbon
#!.config/emulationstation/themes/simple

#!.config/mc
#!.config/mc/ini

!.config/user-dirs.dirs
!.config/user-dirs.locale

!.gitignore
#!.toprc
!.vimrc
!.Xresources
!.vim
!.vim/**
.vim/.netrwhist
!.xinitrc
!.zsh
!.zsh/**
!.zshrc

!README.md

*.swp
