[submodule "es-carbon-theme"]
    path = .config/emulationstation/themes/es-carbon-theme
    url = https://github.com/RetroPie/es-theme-carbon
[submodule "oh-my-zsh"]
    path = .zsh/oh-my-zsh
    url = https://github.com/hanez/oh-my-zsh.git
[submodule "nerdtree"]
    path = .vim/bundle/nerdtree
    url = https://github.com/scrooloose/nerdtree.git
