*

!.config
!.config/awesome
!.config/awesome/**
!.config/awesome/private.lua
#!.config/mc
#!.config/mc/ini
!.config/user-dirs.dirs
!.config/user-dirs.locale
!.gitignore
#!.toprc
!.vimrc
!.Xresources
!.vim
!.vim/**
.vim/.netrwhist
!.xinitrc
!.zsh
!.zsh/**
!.zshrc

!README.md

*.swp
