[submodule "oh-my-zsh"]
	path = .zsh/oh-my-zsh
	url = https://github.com/hanez/oh-my-zsh.git

[submodule "zsh-syntax-highlighting"]
        path = .zsh/zsh-syntax-highlighting
        url = https://github.com/zsh-users/zsh-syntax-highlighting.git
