private = {}
private.thermal_zone = "thermal_zone1"
private.net_device = "wlp4s0"
private.battery = "BAT0"
private.font_awesome = "Source Code Pro"
private.font_awesome_size = "10"
private.font_xterm = "Source Code Pro Semibold"
private.font_xterm_size = "13"
private.autostart = {
    "kalu",
    "amor",
    "synclient TouchpadOff=1",
    "nm-applet",
    "pasystray",
    "xfce4-clipman",
    "xfce4-notes",
    "xautolock -locker slock -time 5",
    "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1",
    "redshift",
}

